.virtual-cursor {
  position: fixed;
  width: 24px;
  height: 24px;
  background: blue;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAApgAAAKYB3X3/OAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB7SURBVEiJ7ZNBCsAgDATXvvT/f8YvtYUk7a4xYG0PggeXQReCIkI0M0upcymlmdkRfBXUzMxdPHqgZt6V4/uAu0MEXsHdAQ/iESwBLzFeVQ9LSrqBVd8Mxr34xQXkBPJrkvSD/DOR7kXyXyT/ZpJ/0y2gPYP2kNtj+gQrHydsHYAJQwAAAABJRU5ErkJggg==");
  background-size: contain; */
}
